body {
	width: 100%;
	max-width: 1600px;
	background: url(../img/Flag_Background.jpg) no-repeat center center fixed;
    background-size: cover;
}

/*ul {
	width: 100%;
	max-width: 1500em;
    list-style:none;
 	top: 0;
    padding:0;
    text-align:center;
}
li{
    display:inline-block;
    margin: .32em;
    background-color: rgba(255,255,255,0.8);
    padding: .32em;
    color: black;
    text-transform: uppercase;
    border-radius: .64em;
    font-family: orbitron;

}*/

h2 { 
	text-align: center;
	margin: 1em;
	padding: 1em;
	padding-bottom: 1.5em;

	font-size: 2.75em;
	text-shadow: .075em .03em white;


	 }


h1 {
	 	text-align: center;
	 	/*margin: 2em;
	 	margin-top: 1.3em;
	 	margin-bottom: 1em;*/
 		opacity: 0.65;
	 	font-size: 5em;
	 	color: blue;
	 	text-shadow: .1em .065em black;
	 	/*max-width: 100%;
	 	height: auto;*/
	 	
	 }

h3 {
	padding-left: .64em;
	text-align: center;
}

h4 {
	padding-left: .64em;
}

/*figure {
		float: right;
		width: 34.38em;
		margin: .64em;


}*/

.printedblog {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

p.centertext {
	width: 100%;
	height: auto;
	text-align: center;
	}

.services {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}


p {
	padding: .313em;
	margin: 0em;
	margin-top: 1em;
	background-color: rgba(255,255,255,1.0);
	width: 35em;
    /*-webkit-transition: opacity 2s; /* For Safari 3.1 to 6.0 */
    /*transition: background-color 2s;*/

    font-size: 1.2em;
    max-width: 100%;
    border-radius: .25em;

}

p.press_release01 {
	margin-bottom: 1em;
	padding: .313em;
}

p.press_release02 {
	margin: 0em;
	padding: .313em;
}

p.bloghead {
	padding: 0em;
	margin: 0em;
	text-align: center;
	width: 100%;
	max-width: 15em;
	
	}
	
p.blogbody {
	padding: 0em;
	margin-bottom: 2em;
	text-align: center;
	width: 100%;
	max-width: 35em;
	}
	
p.blogdate {
	font-size: 1em;
	text-align: center;
	padding: 0em;
	margin: 0em;
	width: 100%;
	max-width: 15em;
	}

img {
	border: .125em solid black;
	opacity: 1.0;
	max-width: 100%;
	height: auto;
	border-radius: .4em;
	float: right;
		width: 34.38em;
		margin: .64em;
}


/*nav {
top: 0;
width: 100%;
max-width: 100em;
color: #ffffff;
height: 4.063em;
text-align: center;*/

/* Adds shadow to the bottom of the bar */
/*-webkit-box-shadow: 0em 0em 8em 0em #000000;
-moz-box-shadow: 0em 0em 8em 0em #000000;
box-shadow: 0em 0em 8em 0em #000000;
/* Adds the transparent background */
/*background-image: url(../img/americanflag.jpg);
color: rgba(1, 1, 1, 0.8);
}*/

/*nav a:hover {
color: gray;
} */

a:link {
	color: black;
}

fieldset {
	font-size: 1.2;
	width: 100%;
	height: auto;
	max-width: 100%;
	margin-top: 3em;
}

.form-group {
	margin-top: .6em;
}

/*p.name, p.second, p.quote {
	margin: .25em;
	margin-left: 3em;
	text-align: center;
	height: auto;

}

p.quote {
	margin-bottom: .75em;
	height: auto;

}

p.quote1 {
	margin-bottom: .75em;
	margin: .25em;
	margin-left: 3em;
	height: auto;
	
}

p.name3 {
	margin-bottom: 2.25em;
	margin-left: 3em;
	margin-top: .25em;
	text-align: center;
	height: auto;
	
}*/


input.form-control {
	height: auto;
	width: 100%;
}

button.submit {
	border-radius: .3em;
	color: black;
	opacity: 1.0;
	font-size: 2em;

}


p.email {
	text-align: center;
	width: 10em;
	height: auto;
	font-size: 2em;
	margin: 1em;
	padding: .05em;
}



.emaildocs {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
}


/*#primary {
	margin-top: 5em;
}

#secondary {
	margin-top: 3em;
}*/



